n8n-workflows/load-systems.json
{
  "name": "Load Systems from Mirror to Dashboard",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://directus:8055/items/systems",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "labbis_id" },
            { "name": "limit", "value": "-1" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch_existing",
      "name": "Fetch Existing from Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpBearerAuth": { "id": "DIRECTUS_CREDENTIAL_ID", "name": "Directus Admin Token" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://directus:8055/items/labbis_systemos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "SystemosId,SystemosName,SystGroupId" },
            { "name": "limit", "value": "-1" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch_mirror",
      "name": "Fetch from Mirror",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "httpBearerAuth": { "id": "DIRECTUS_CREDENTIAL_ID", "name": "Directus Admin Token" }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingResponse = $('Fetch Existing from Dashboard').first().json;\nconst existingIds = new Set((existingResponse.data || []).map(d => d.labbis_id));\n\nconst mirrorResponse = $input.first().json;\nconst mirrorItems = mirrorResponse.data || [];\nconst results = [];\n\nfor (const sys of mirrorItems) {\n  if (!sys.SystemosId) continue;\n  if (existingIds.has(sys.SystemosId)) continue;\n\n  results.push({\n    json: {\n      id: sys.SystemosId,\n      name: sys.SystemosName || '',\n      system_group_id: sys.SystGroupId || null,\n      labbis_id: sys.SystemosId\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "map_fields",
      "name": "Map + Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/items/systems",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "upsert_directus",
      "name": "Insert to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "credentials": {
        "httpBearerAuth": { "id": "DIRECTUS_CREDENTIAL_ID", "name": "Directus Admin Token" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet created = 0;\nlet skipped = 0;\nlet errors = 0;\n\nfor (const item of items) {\n  const status = item.json?.statusCode;\n  if (status === 200 || status === 204 || item.json?.data?.id) {\n    created++;\n  } else if (status === 400 && JSON.stringify(item.json).includes('unique')) {\n    skipped++;\n  } else {\n    errors++;\n  }\n}\n\nreturn [{\n  json: {\n    total_processed: items.length,\n    created,\n    skipped,\n    errors,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Fetch Existing from Dashboard", "type": "main", "index": 0 }]]
    },
    "Fetch Existing from Dashboard": {
      "main": [[{ "node": "Fetch from Mirror", "type": "main", "index": 0 }]]
    },
    "Fetch from Mirror": {
      "main": [[{ "node": "Map + Dedup", "type": "main", "index": 0 }]]
    },
    "Map + Dedup": {
      "main": [[{ "node": "Insert to Dashboard", "type": "main", "index": 0 }]]
    },
    "Insert to Dashboard": {
      "main": [[{ "node": "Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
