n8n-workflows/mirror-defect-materials.json
{
  "name": "Mirror LABBIS DefectAct Materials to Directus",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://directus:8055/items/labbis_defect_act_material",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "DefectActMaterialId"
            },
            {
              "name": "limit",
              "value": "-1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_existing",
      "name": "Fetch Existing from Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "DIRECTUS_CREDENTIAL_ID",
          "name": "Directus Admin Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://directus:8055/items/labbis_defect_act",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "DefectActId"
            },
            {
              "name": "limit",
              "value": "-1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch_defect_acts",
      "name": "Fetch DefectActs from Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "DIRECTUS_CREDENTIAL_ID",
          "name": "Directus Admin Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst defectActs = response.data || response || [];\nconst results = [];\nfor (const da of defectActs) {\n  results.push({ json: { DefectActId: da.DefectActId } });\n}\nreturn results;"
      },
      "id": "extract_ids",
      "name": "Extract DefectAct IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://bengal-test.mcs.lt/api/v1/labbis/DefectAct/{{ $json.DefectActId }}/Material",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 500
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "DefectActMaterialId;Description;Amount;Price;UoMId"
            }
          ]
        }
      },
      "id": "fetch_from_labbis",
      "name": "Fetch Materials from LABBIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "LABBIS_API_CREDENTIAL_ID",
          "name": "LABBIS API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const existingResponse = $('Fetch Existing from Directus').first().json;\nconst existingIds = new Set((existingResponse.data || []).map(d => d.DefectActMaterialId));\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (data.statusCode && data.statusCode >= 400) continue;\n  if (!data.DefectActMaterialId) continue;\n  if (existingIds.has(data.DefectActMaterialId)) continue;\n\n  const parentId = $('Extract DefectAct IDs').item.json.DefectActId;\n  const { statusCode, headers, ...fields } = data;\n  results.push({ json: { ...fields, DefectActId: parentId } });\n}\n\nreturn results;"
      },
      "id": "map_dedup",
      "name": "Map + Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/items/labbis_defect_act_material",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "insert_directus",
      "name": "Insert to Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "DIRECTUS_CREDENTIAL_ID",
          "name": "Directus Admin Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet created = 0;\nlet skipped = 0;\nlet errors = 0;\n\nfor (const item of items) {\n  const status = item.json?.statusCode;\n  if (status === 200 || status === 204 || item.json?.data?.id) {\n    created++;\n  } else if (status === 400 && JSON.stringify(item.json).includes('unique')) {\n    skipped++;\n  } else {\n    errors++;\n  }\n}\n\nreturn [{\n  json: {\n    total_processed: items.length,\n    created,\n    skipped,\n    errors,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Existing from Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Existing from Directus": {
      "main": [
        [
          {
            "node": "Fetch DefectActs from Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch DefectActs from Directus": {
      "main": [
        [
          {
            "node": "Extract DefectAct IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DefectAct IDs": {
      "main": [
        [
          {
            "node": "Fetch Materials from LABBIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Materials from LABBIS": {
      "main": [
        [
          {
            "node": "Map + Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map + Dedup": {
      "main": [
        [
          {
            "node": "Insert to Directus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Directus": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
