n8n-workflows/sync-objects.json
{
  "name": "Sync LABBIS Objects to Directus (direct fetch)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://directus:8055/items/objects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "labbis_id" },
            { "name": "limit", "value": "-1" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch_existing",
      "name": "Fetch Existing from Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "DIRECTUS_CREDENTIAL_ID", "name": "Directus Admin Token" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://bengal-test.mcs.lt/api/v1/labbis/Object",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "rowsPerPage", "value": "200" },
            { "name": "fields", "value": "ObjectId;Code;Description;FullAddress" }
          ]
        },
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "fetch_labbis",
      "name": "Fetch Objects from LABBIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "LABBIS_API_CREDENTIAL_ID", "name": "LABBIS API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingResponse = $('Fetch Existing from Directus').first().json;\nconst existingIds = new Set((existingResponse.data || []).map(d => d.labbis_id));\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const obj = item.json;\n  if (obj.statusCode && obj.statusCode >= 400) continue;\n  if (!obj.ObjectId) continue;\n  if (existingIds.has(obj.ObjectId)) continue;\n\n  results.push({\n    json: {\n      id: obj.ObjectId,\n      code: obj.Code || '',\n      description: obj.Description || null,\n      full_address: obj.FullAddress || null,\n      labbis_id: obj.ObjectId\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _empty: true } }];"
      },
      "id": "map_fields",
      "name": "Map + Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "filter_empty",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter_empty",
      "name": "Filter Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://directus:8055/items/objects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "upsert_directus",
      "name": "Insert to Directus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "DIRECTUS_CREDENTIAL_ID", "name": "Directus Admin Token" }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet created = 0;\nlet skipped = 0;\nlet errors = 0;\n\nfor (const item of items) {\n  const status = item.json?.statusCode;\n  if (status === 200 || status === 204 || item.json?.data?.id) {\n    created++;\n  } else if (status === 400 && JSON.stringify(item.json).includes('unique')) {\n    skipped++;\n  } else {\n    errors++;\n  }\n}\n\nreturn [{\n  json: {\n    total_processed: items.length,\n    created,\n    skipped,\n    errors,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Fetch Existing from Directus", "type": "main", "index": 0 }]]
    },
    "Fetch Existing from Directus": {
      "main": [[{ "node": "Fetch Objects from LABBIS", "type": "main", "index": 0 }]]
    },
    "Fetch Objects from LABBIS": {
      "main": [[{ "node": "Map + Dedup", "type": "main", "index": 0 }]]
    },
    "Map + Dedup": {
      "main": [[{ "node": "Filter Empty", "type": "main", "index": 0 }]]
    },
    "Filter Empty": {
      "main": [[{ "node": "Insert to Directus", "type": "main", "index": 0 }]]
    },
    "Insert to Directus": {
      "main": [[{ "node": "Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
